@model API.Models.CategoryViewModel
<div class="row">
    <div class="col s12 m6">
        <div class="row" style="padding: 0px!important;">
            <div class="input-field">
                <i class="material-icons prefix" style="margin-top:10px;">search</i>
                <input type="search" placeholder="Type word for searching" class="live-search-box">
            </div>
        </div>
        <div class="center-align uppercase categorieslist"><h6>Categories list</h6></div>
        @foreach (var item in ViewBag.Cats)
        {
            @using (Html.BeginForm("UpdateCategory", "Admin", FormMethod.Post))
            {
                @Html.HiddenFor("IdCategory", item.IdCategory)
                <div class="input-field inline">
                    <input disabled value="@item.Categoryname" type="text" required name="category">
                </div>
                <button type="submit" class="waves-effect waves-light btn small">
                    <i class="material-icons button">edit</i>
                </button>
            }
            @using (Html.BeginForm("DeleteCategory", "Admin", FormMethod.Post))
            {
                <button type="submit" class="waves-effect waves-light btn small remove">
                    <i class="material-icons button">delete_forever</i>
                </button>
            }

        }

    </div>
</div>

<script>

    jQuery(document).ready(function ($) {
        $('.categorieslist div').each(function () {
            $(this).attr('data-search-term', $(this).text().toLowerCase());
        });
        $('.live-search-box').on('keyup', function () {
            var searchTerm = $(this).val().toLowerCase();
            $('.categorieslist div').each(function () {
                if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });//collabsible li
        });//live search box

    });


</script>